body {
    background-color: green;
    color: white;
    font-family: "Roboto Slab", serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(103, 253, 165);
    color: rgb(2, 54, 10);
    font-family: "Roboto Slab", serif;
}