body {
    background-color: lightslategray;
    color: black;
    font-family: "Roboto Slab", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(24, 124, 24);
    color: rgb(48, 48, 48);
    font-family: "Roboto Slab", serif;
}